* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.container {
  margin: 0 50.5px;
}

.document {
  margin-top: 48px;
  margin-left: 30px;
  box-shadow: -3px 3px 2px 0 rgba(0,0,0,0.06);
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.black-line {
  border-color: black;
  border-top-width: 0px;
}

.gray-line {
  border-color: rgb(226, 226, 226);
  border-top-width: 0px;
}

header {
  margin-left: 30px;
  position: fixed;
  top: 0;
  left: 0;
  height: 48px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  font-size: 0.6875rem;
  font-weight: 700;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  background-color: white;
}

nav ul.nav-left {
  list-style-type: none;
  position: relative;
  left: -15px;
  padding-left: 0;
  display: inline-block;
}
nav ul.nav-right {
  list-style-type: none;
  margin-top: 6px;
  position: relative;
  right: 30px;
  display: inline-block;
  padding-left: 0;
  margin-top: 2px;
}

ul.nav-right li {
  margin-right: 11px;
}

nav li {
  display: inline-block;
  padding: 7px 9px;
}

.btn {
  box-shadow: 0 3px 2px 0 rgba(0,0,0,0.06), inset -1px -1px 1px 0 rgba(0,0,0,0.02);
  border-bottom-color: #cecece;
  border-radius: 3px;
  border: 1px solid rgb(226, 226, 226);
  height: 30px;
}

.blue-btn{
  color: white;
  background-color: rgb(98, 136, 165);
  padding: 7px 10px 6px 10px;
}

.blue-btn .nav-text {
  margin: 0;
  height: 15px
}

.nav-text {
  display: inline-block;
  height: 13px;
  vertical-align: top;
  margin-left: 7px;
  margin-top: 2px;
}

.icon {
  position: relative;
  background-image: url("img/nyt-sprites.svg");
  background-repeat: no-repeat;
  display: inline-block;
  height: 25px;
  width: 25px;
}

nav .icon {
  height: 16px;
  width: 16px;
}

#hamburger {
  background-position: -490px -214px;
}

#settings {
  background-position: -34px -247px;
}
.settings-container{
  height: 30px;
  padding-bottom: 0;
}

#search {
  background-position: -404px -214px;
}

#times {
  background-position: -83px -280px;
}

#facebook {
  background-position: -59px -54px;
}

#twitter {
  background-position: -59px -313px;
}

#email {
  background-position: -157px -21px;
}

#reply {
  background-position: -320px -247px;
}

#bookmark {
  background-position: -353px -214px;
  width: 16px;
}

#comments {
  border: 1px solid black;
  border-radius: 3px;
  display: inline-block;
  height: 26px;
  padding: 6px;
  font-size: 13px;
  vertical-align: middle;
  margin-top: -12px;
}

.header-logo {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  position: absolute;
  left: 40%;
}

.header-container {
  width: 100%;
}

.row {
  width: 100%
}

.banner-ad {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.kicker{
  margin-bottom: 32px;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.headline {
  font-family: 'Tinos', serif;
  font-style: italic;
  font-size: 32px;
}

.authored {
  font-size: 0.6875rem;
  line-height: 0.75rem;
  font-family: 'Tinos', serif;
}

.author-name {
  font-weight: 700;
  margin-right: 8px;
}

.social-media-list {
  display: inline-block;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 10px;
}
.social-media-list li {
  display: inline-block;
  margin-right: 15px;
  height: 25px;
  width: 25px;
}

.social-media-list li:nth-last-child(2) {
  padding-left: 15px;
  border-left: 1px solid rgb(226, 226, 226);
}

.intro-image {
  clear:right;
  max-width: 100%;
}

.caption {
  max-width: 615px;
  display: inline-block;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 300;
  font-style: normal;
  font-family: 'Tinos', serif;
  color: #666;
}

.photo-credit {
  display: inline-block;
  color: #999;
  font-size: 0.6875rem;
}

article > :nth-child(n):not(.wider) {
  width: 570px;
  margin-left: 75px;
  color: #333;
  font-style: 'Tinos', serif;
  font-size: 1.0625rem;
  line-height: 1.625rem;
  font-weight: 400;
}

figure {
  max-width: 945px;
}

#inflation {
  background-image: url(img/inflation-945.png);
  /*position: relative;
  left: 0;
  top: 0;*/
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  width: 100%;
  height: 600px;
}

.col3 {
  width: 230px;
  padding: 1%;
  display: inline-block;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 17px;
  font-weight: 300;
  vertical-align: top;
}

.height1 {
  position: relative;
  top: 120px;
}

.height2 {
  position: relative;
  top: 200px;
}

.footnote {
  display: block;
  clear:both;
  font-size: 0.75rem;
  line-height: 0.875rem;
  font-weight: 300;
  font-family: "Roboto",sans-serif;
  color: #999;
}

.science-times-box {
  display: inline-block;
  height: 332px;
  width: 310px;
  background-color: #ccc;
  margin: 7px 30px 15px 0;
}
